/*Navbar*/

.navbar {
    border-bottom-style: solid;
    border-bottom-color: #2F318B;
    border-bottom-width: 5px;
    background-color: #EEEEEF;
}

.catchline {
    border-style: Solid;
    padding-top: 400px;
    padding-right: 400px;
    color:white
}

#logo-navbar {
    width:139.2px;
    height:59.7px
}

.nav-link{
    line-height:50px;
    border-top-style: solid;
    font-weight: bold;
    margin-right: 0.75rem !important;
}

.selected{
    color:#2f318b !important;
}

@media (min-width: 768px){
    .nav-link{
        border-top-color: #6c757d00;
        border-top-width: 4px;
        font-size: 16px;
    }

    .selected{
        border-top-color: #040174;
        color:#2F318B !important;
    }

    .nav-link:hover {
        border-top-color: #040174;
    }
}

@media (max-width: 768px){
    .nav-link{
        border-top-color: #6c757d;
        border-top-width: 1px;
        font-size: 16px;
    }
}

/*Beranda*/

#banner {
    width: 100%;
    background-image: url('../img/header2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

@media (max-width: 767px) {
    #banner {
        height: 200px;
    }
}

@media (min-width:767px) and (max-width: 1868px){
    #banner {
        height: 500px;
    }
}

@media (min-width: 1868px){
    #banner {
        height: 650px;
    }
}

.about-card {
    max-width: 20rem;
}

.mapouter{
    position:relative;
    text-align:right;
    max-height:400px;
    max-width:800px;
}
    
.gmap_canvas {
    overflow:hidden;
    background:none !important;
    height:400px;width:800px;
}

.news-card-main{
    border-color: #2F318B !important;
}

.news-card-button{
    color: #2F318B;
    border-color: #2F318B;
}

.news-card-button:hover {
    color: #fff;
    background-color: #2F318B;
    border-color: #2F318B;
}

.image-box-beranda {
    position: relative;
    cursor: pointer;
    margin: auto;
    overflow: hidden;
    width: 540px;
}
.image-box-beranda img {
    max-width: 100%;
    transition: all 2.0s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

.image-box-beranda:hover img {
    transform: scale(1.3);
}

/*Others*/

.content{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.color-smanda {
    color:#2F318B !important;
}

.color-smanda-alt {
    color:#e5dfdf !important;
}

.content-navbar-alt-p {
    padding-top: 100px;
}

.content-navbar-p {
    padding-top: 70px;
}

.title-underline {
    font-family: 'Fjalla One', sans-serif;
    border-bottom-style: solid;
    border-bottom-color: #2F318B;
    border-bottom-width: 4px;
}

.title-non-underline {
    font-family: 'Fjalla One', sans-serif;
}

.title-underline-alt{
    font-family: 'Fjalla One', sans-serif;
    border-bottom-style: solid;
    border-bottom-color: #e5dfdf;
    border-bottom-width: 4px;
}

.gradient{
    background: linear-gradient(to bottom, #F8FAFC 50%, #2F318B 100%);
}

.alt-gradient{
    background: linear-gradient(to top, #F8FAFC 0%, #2F318B 5%);
}

.alt-pallate {
    background-color: #2F318B;
}

.default-pallate {
    background-color: #F8FAFC;
}

.hscroll {
    overflow-x: visible;
}

.hscroll-lg {
    overflow-x: visible;
}

@media screen and (max-width : 1000px)
{
    .hscroll-lg {
        overflow-x: auto; /* Horizontal */
    }
}

@media screen and (max-width : 600px)
{
    .hscroll {
        overflow-x: auto; /* Horizontal */
    }
}

.btn-smanda {
    color: #fff;
    background-color: #2F318B;
    border-color: #2F318B;
}

.btn-smanda:hover {
color: #fff;
background-color: #2F318B;
border-color: #2F318B;
}

/* History */
.old-headmaster-pics {
    height: 100px;
}

/* Vision and Mission */
.vismis_card {
    max-width: 30rem;
    min-height: 22rem;
}

/* Tenaga Pendidik */
.table-smanda {
    color: #e5dfdf;
    background-color: #2F318B;
    border-color: #dee2e6;
  }

.organization-pallate {
    background-color: #56C7CC;
}

.organization-color {
    color: #F8FAFC;
}

.organization-underline-color {
    font-family: 'Fjalla One', sans-serif;
    border-bottom-style: solid;
    border-bottom-color: #F8FAFC;
    border-bottom-width: 4px;
}

/* Galeri */

.image-box {
    position: relative;
    cursor: pointer;
    margin: auto;
    overflow: hidden;
    width: 540px;
}
.image-box img {
    max-width: 100%;
    transition: all 2.0s;
    display: block;
    width: 100%;
    height: auto;
    filter: brightness(75%);
    transform: scale(1);
}

.image-box:hover img {
    filter: brightness(100%);
    transform: scale(1.3);
}

.modal-img {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 130px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close {
    position: absolute;
    padding-top: 100px;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/* Footer */

.alt-pallate-copyright {
    background-color: black;
}

.footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 30px;
    line-height: 30px;
}

